.addBlog-parent{
   
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;
        /* border: 1px solid black; */
    
  
}
.form {
    width: 80%;
    
    display: flex;
    /* border: 2px solid red; */
    flex-direction: column;
    padding: 10px;
  }
.addBlog-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;


}
.card-text{
    height: 100px;
    overflow: auto;
    margin-bottom: 5px;
}
.addBlog-form-data{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 -8px;
    flex-direction: column;
}
.addBlog-validation{
    color: red;
}


.addBlog-btn {
    width: fit-content;
    padding: 7px 25px;
    margin:10px auto;
    border: none;
    transition: all 0.5s;
    border-radius: 5px;
    background: linear-gradient(328deg, #3820cf, #be05ef);
    color: white;
    cursor: pointer;
    font-size: 0.8rem;
  }
  #add-blog{
    color:#3820cf ;
  }